<f:be.container>
	<div class="module" data-module-id="" data-module-name="">
		<div class="module-docheader t3js-module-docheader">
			<div
				class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="module-docheader-bar-column-left">
					<div class="form-inline">

					</div>
				</div>
				<div class="module-docheader-bar-column-right">

					<span class="typo3-docheader-pagePath">Path:</span>
					<a href="#" class="t3-js-clickmenutrigger" data-table="pages" data-listframe="1">
						<span title="temp">
							<span class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-root"
								  data-identifier="apps-pagetree-root">
								<span class="icon-markup">
									<img
										src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/apps/apps-pagetree-root.svg"
										width="16" height="16">
								</span>

							</span>
						</span>
					</a> <strong>temp&nbsp;[0]</strong>

				</div>
			</div>
			<div
				class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<f:render section="LeftToolBar"/>
				</div>
				<div class="module-docheader-bar-column-right">
					<f:render section="RightToolBar"/>
				</div>
			</div>
		</div>

		<div class="module-body t3js-module-body" style="padding-top: 89px;">
			<f:render section="Welcome"/>

			<f:flashMessages/>

			<f:render section="Main"/>
		</div>

	</div>
</f:be.container>
