<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:be.container>
		<div class="module" data-module-id="" data-module-name="">
			<div class="module-docheader t3js-module-docheader">
				<div
					class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
					<div class="module-docheader-bar-column-left">
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="{f:translate(key:'logs')}" controller="Log" action="filter" />
							<f:be.menus.actionMenuItem label="{f:translate(key:'deprecations')}" controller="Deprecation" action="filter" />
						</f:be.menus.actionMenu>
					</div>
					<div class="module-docheader-bar-column-right"></div>
				</div>
				<div
					class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
					<div class="module-docheader-bar-column-left"></div>
					<div class="module-docheader-bar-column-right"></div>
				</div>
			</div>

			<div class="module-body t3js-module-body" style="padding-top: 89px;">
				<f:flashMessages />

				<f:render section="Main" />
			</div>
		</div>
	</f:be.container>
</html>
